# Directorios de construcción
build/
*/build/
*/*/build/

# Directorios de IDEs y editores
.vscode/
.idea/

# Archivos generados por el sistema
*.swp
*.swo
*.user
*.suo
*.ncb
*.sdf
*.opensdf
*.pidb
*.userprefs

# Archivos de CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake